{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
      "development": {
          "plugins": [
            "transform-runtime",
            "syntax-flow",
            ["react-transform", {
              "transforms": [{
                "transform" : "react-transform-hmr",
                "imports"   : ["react"],
                "locals"    : ["module"]
          }]
        }]
      ]
    }
  }
}
